<div style='text-align:center;overflow:hidden auto;max-height:100vh'>
    <div class='bundle-items'>
        <a href='/cosmetics?id=8540' class='item-icon' onclick='return modal(8540, "item")'>
            <div class='item-icon-img'>
                <img src='/img/items/8540/icon.jpg?4'>
            </div>
        </a>
        <a href='/cosmetics?id=8547' class='item-icon' onclick='return modal(8547, "item")'>
            <div class='item-icon-img'>
                <img src='/img/items/8547/icon.jpg?1'>
            </div>
        </a>
        <a href='/cosmetics?id=8588' class='item-icon' onclick='return modal(8588, "item")'>
            <div class='item-icon-img'>
                <img src='/img/items/8588/icon.jpg?2'>
            </div>
        </a>
        <a href='/cosmetics?id=8560' class='item-icon' onclick='return modal(8560, "item")'>
            <div class='item-icon-img'>
                <img src='/img/items/8560/icon.jpg?1'>
            </div>
        </a>
    </div>
</div>
<div class='fn-detail'>
    <div>
        <div id='item-details-ad' style='margin:auto;padding-bottom:20px'></div>
        <div class='fn-detail-name'>MR. MEESEEKS BUNDLE</div>
        <div class='fn-detail-type'>
            <span style='color:#e95eff'>epic</span>
            bundle
        </div>
        <div class='fn-item-price'>
            <img src='/img/vbucks.png' alt='V-Bucks'>2,100
        </div>
        <div class='fn-detail-details'>
            <table>
                <tr>
                    <th scope='row' class='grey'>Source:</th>
                    <td>Shop</td>
                </tr>
                <tr>
                    <th scope='row' class='grey'>Introduced in:</th>
                    <td>Chapter 3, Season 4</td>
                </tr>
                <tr>
                    <th scope='row' class='grey'>Release date:</th>
                    <td>Oct 18, 2022</td>
                </tr>
                <tr>
                    <th scope='row' class='grey'>Last seen:</th>
                    <td title='Chapter 4, Season 4'>Oct 20, 2023 (yesterday)</td>
                </tr>
                <tr class='fn-assets-header'>
                    <th scope='row' class='grey'>Occurrences:</th>
                    <td>
                        54 <i class='arrow'></i>
                    </td>
                </tr>
                <tr class='fn-assets'>
                    <td colspan='2'>
                        <table>
                            <tr>
                                <th>Date</th>
                                <th>Days ago</th>
                            </tr>
                            <tr>
                                <td>Oct 21, 2023</td>
                                <td>Today</td>
                            </tr>
                            <tr>
                                <td>Oct 20, 2023</td>
                                <td>Yesterday</td>
                            </tr>
                            <tr>
                                <td>Oct 19, 2023</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>Oct 18, 2023</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td>Oct 17, 2023</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td>Sep 9, 2023</td>
                                <td>42</td>
                            </tr>
                            <tr>
                                <td>Sep 8, 2023</td>
                                <td>43</td>
                            </tr>
                            <tr>
                                <td>Sep 7, 2023</td>
                                <td>44</td>
                            </tr>
                            <tr>
                                <td>Sep 6, 2023</td>
                                <td>45</td>
                            </tr>
                            <tr>
                                <td>Sep 5, 2023</td>
                                <td>46</td>
                            </tr>
                            <tr>
                                <td>Sep 4, 2023</td>
                                <td>47</td>
                            </tr>
                            <tr>
                                <td>Sep 3, 2023</td>
                                <td>48</td>
                            </tr>
                            <tr>
                                <td>Dec 14, 2022</td>
                                <td>311</td>
                            </tr>
                            <tr>
                                <td>Dec 13, 2022</td>
                                <td>312</td>
                            </tr>
                            <tr>
                                <td>Dec 12, 2022</td>
                                <td>313</td>
                            </tr>
                            <tr>
                                <td>Dec 11, 2022</td>
                                <td>314</td>
                            </tr>
                            <tr>
                                <td>Dec 10, 2022</td>
                                <td>315</td>
                            </tr>
                            <tr>
                                <td>Dec 9, 2022</td>
                                <td>316</td>
                            </tr>
                            <tr>
                                <td>Dec 8, 2022</td>
                                <td>317</td>
                            </tr>
                            <tr>
                                <td>Dec 7, 2022</td>
                                <td>318</td>
                            </tr>
                            <tr>
                                <td>Dec 6, 2022</td>
                                <td>319</td>
                            </tr>
                            <tr>
                                <td>Dec 5, 2022</td>
                                <td>320</td>
                            </tr>
                            <tr>
                                <td>Dec 4, 2022</td>
                                <td>321</td>
                            </tr>
                            <tr>
                                <td>Dec 3, 2022</td>
                                <td>322</td>
                            </tr>
                            <tr>
                                <td>Dec 2, 2022</td>
                                <td>323</td>
                            </tr>
                            <tr>
                                <td>Dec 1, 2022</td>
                                <td>324</td>
                            </tr>
                            <tr>
                                <td>Nov 14, 2022</td>
                                <td>341</td>
                            </tr>
                            <tr>
                                <td>Nov 13, 2022</td>
                                <td>342</td>
                            </tr>
                            <tr>
                                <td>Nov 12, 2022</td>
                                <td>343</td>
                            </tr>
                            <tr>
                                <td>Nov 11, 2022</td>
                                <td>344</td>
                            </tr>
                            <tr>
                                <td>Nov 10, 2022</td>
                                <td>345</td>
                            </tr>
                            <tr>
                                <td>Nov 9, 2022</td>
                                <td>346</td>
                            </tr>
                            <tr>
                                <td>Nov 8, 2022</td>
                                <td>347</td>
                            </tr>
                            <tr>
                                <td>Nov 7, 2022</td>
                                <td>348</td>
                            </tr>
                            <tr>
                                <td>Nov 6, 2022</td>
                                <td>349</td>
                            </tr>
                            <tr>
                                <td>Nov 5, 2022</td>
                                <td>350</td>
                            </tr>
                            <tr>
                                <td>Nov 4, 2022</td>
                                <td>351</td>
                            </tr>
                            <tr>
                                <td>Nov 3, 2022</td>
                                <td>352</td>
                            </tr>
                            <tr>
                                <td>Nov 2, 2022</td>
                                <td>353</td>
                            </tr>
                            <tr>
                                <td>Nov 1, 2022</td>
                                <td>354</td>
                            </tr>
                            <tr>
                                <td>Oct 31, 2022</td>
                                <td>355</td>
                            </tr>
                            <tr>
                                <td>Oct 30, 2022</td>
                                <td>356</td>
                            </tr>
                            <tr>
                                <td>Oct 29, 2022</td>
                                <td>357</td>
                            </tr>
                            <tr>
                                <td>Oct 28, 2022</td>
                                <td>358</td>
                            </tr>
                            <tr>
                                <td>Oct 27, 2022</td>
                                <td>359</td>
                            </tr>
                            <tr>
                                <td>Oct 26, 2022</td>
                                <td>360</td>
                            </tr>
                            <tr>
                                <td>Oct 25, 2022</td>
                                <td>361</td>
                            </tr>
                            <tr>
                                <td>Oct 24, 2022</td>
                                <td>362</td>
                            </tr>
                            <tr>
                                <td>Oct 23, 2022</td>
                                <td>363</td>
                            </tr>
                            <tr>
                                <td>Oct 22, 2022</td>
                                <td>364</td>
                            </tr>
                            <tr>
                                <td>Oct 21, 2022</td>
                                <td>365</td>
                            </tr>
                            <tr>
                                <td>Oct 20, 2022</td>
                                <td>366</td>
                            </tr>
                            <tr>
                                <td>Oct 19, 2022</td>
                                <td>367</td>
                            </tr>
                            <tr>
                                <td>Oct 18, 2022</td>
                                <td>368</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th scope='row' class='grey'>Wishlists:</th>
                    <td class='wishlist-count'>815</td>
                </tr>
            </table>
        </div>
        <div class='item-add-my'>
            <div class='item-add-my-btn' data-type='wishlist' data-id='8596'>Wishlist</div>
            <div class='item-add-my-btn' data-type='locker' data-id='8596'>Locker</div>
        </div>
        <div class='vote-wrap'>
            <div class='bar-fire' style='width:45.6337%'></div>
            <div class='bar-shit' style='width:54.3663%'></div>
            <div class='vote-options' data-id='8596' data-total='4655' data-sum='8497'>
                <div class='vote-option' data-vote='4'>
                    🔥<div class='vote-count'>1.6K</div>
                </div>
                <div class='vote-option' data-vote='3'>
                    😍<div class='vote-count'>339</div>
                </div>
                <div class='vote-option' data-vote='2'>
                    😐<div class='vote-count'>473</div>
                </div>
                <div class='vote-option' data-vote='1'>
                    🤮<div class='vote-count'>242</div>
                </div>
                <div class='vote-option' data-vote='0'>
                    💩<div class='vote-count'>2K</div>
                </div>
            </div>
        </div>
        <div class='fn-detail-details'>
            <div style='margin-top:10px;word-break:break-all'>
                <span class='grey'>ID:</span>
                GeniusBlob_Bundle
            </div>
            <div>
                <div class='fn-assets-header'>
                    Assets <i class='arrow'></i>
                </div>
                <div class='fn-assets'>
                    <div class='imgs'>
                        <a href='/img/items/8596/icon.png?3' target='_blank' title='Click to view full size image'>
                            <img src='/img/items/8596/icon.png?3' loading='lazy'>
                        </a>
                        <a href='/img/items/8596/featured.png?1' target='_blank' title='Click to view full size image'>
                            <img src='/img/items/8596/featured.png?1' loading='lazy'>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class='fn-detail-space'></div>
    </div>
</div>
