<header id="header">
    <div class="header-logo">
        <div id="logo">
            <img id="logoImg" src="/logo/logo_bg.jpg" style="width: 50px; height: 45px; position: absolute;">
            <h2 style="padding-left: 50px;">Bombfn</h2>
        </div>
    </div>
    <div class="header-sac">
        <span class="partner">#ad</span> code 
        <div class="nav-item-wrap">
            <a class="nav-item fngg">xdmhtsos</a>
            <div class="nav-item-dropdown">
              <a class="nav-item" onclick="copyToClipboard('Hello, World!')">Copy Text</a>
            </div>
          </div>
    </div>
    <nav class="header-menu">
        <div class="nav-item-wrap">
        <a class="nav-item" href="/">Map</a>
        </div>
        <a class="nav-item active" href="/shop">Shop</a>
        <div class="nav-item-wrap">
        <a class="nav-item" href="/cosmetics">Cosmetics</a>
        </div>
    </nav>
</header>