<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#2f3136">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/logo/logo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/logo/32x32.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/logo/16x16.ico">
    <title><%= title %></title>
</head>
<body>
    <h2>Contact us</h2>
</body>
</html>